@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$primary: #202b3b;
$secondary: #f6f6f8;
$accent: #8E959E;
$muted: #2c3c4d;
$dark: #0b131e;
$fontFamily: 'Raleway', sans-serif;
